/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-dPlus1 {
  background-image: url(../img/spritesheet.png);
  background-position: -181px -178px;
  width: 24px;
  height: 24px;
}
.icon-dPlus2 {
  background-image: url(../img/spritesheet.png);
  background-position: -86px -205px;
  width: 24px;
  height: 21px;
}
.icon-dPlus3 {
  background-image: url(../img/spritesheet.png);
  background-position: -205px -178px;
  width: 24px;
  height: 24px;
}
.icon-diameter {
  background-image: url(../img/spritesheet.png);
  background-position: -266px -69px;
  width: 14px;
  height: 14px;
}
.icon-fEmail {
  background-image: url(../img/spritesheet.png);
  background-position: -266px -23px;
  width: 19px;
  height: 23px;
}
.icon-fMap {
  background-image: url(../img/spritesheet.png);
  background-position: -266px -46px;
  width: 18px;
  height: 23px;
}
.icon-fPhone {
  background-image: url(../img/spritesheet.png);
  background-position: -229px -178px;
  width: 22px;
  height: 23px;
}
.icon-fTime {
  background-image: url(../img/spritesheet.png);
  background-position: -266px 0px;
  width: 20px;
  height: 23px;
}
.icon-hCart {
  background-image: url(../img/spritesheet.png);
  background-position: -50px -205px;
  width: 36px;
  height: 36px;
}
.icon-hPhone {
  background-image: url(../img/spritesheet.png);
  background-position: -218px -132px;
  width: 36px;
  height: 36px;
}
.icon-menu-more {
  background-image: url(../img/spritesheet.png);
  background-position: -266px -97px;
  width: 18px;
  height: 4px;
}
.icon-menu-pie {
  background-image: url(../img/spritesheet.png);
  background-position: -110px -205px;
  width: 26px;
  height: 18px;
}
.icon-pay1 {
  background-image: url(../img/spritesheet.png);
  background-position: -139px -178px;
  width: 42px;
  height: 27px;
}
.icon-pay2 {
  background-image: url(../img/spritesheet.png);
  background-position: -93px -178px;
  width: 46px;
  height: 27px;
}
.icon-pay3 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -178px;
  width: 93px;
  height: 27px;
}
.icon-plus1 {
  background-image: url(../img/spritesheet.png);
  background-position: -55px 0px;
  width: 54px;
  height: 61px;
}
.icon-plus10 {
  background-image: url(../img/spritesheet.png);
  background-position: -165px -58px;
  width: 53px;
  height: 56px;
}
.icon-plus11 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -205px;
  width: 50px;
  height: 50px;
}
.icon-plus12 {
  background-image: url(../img/spritesheet.png);
  background-position: -106px -124px;
  width: 52px;
  height: 52px;
}
.icon-plus13 {
  background-image: url(../img/spritesheet.png);
  background-position: -165px 0px;
  width: 53px;
  height: 58px;
}
.icon-plus14 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 55px;
  height: 62px;
}
.icon-plus15 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -62px;
  width: 52px;
  height: 62px;
}
.icon-plus2 {
  background-image: url(../img/spritesheet.png);
  background-position: -109px 0px;
  width: 56px;
  height: 58px;
}
.icon-plus20 {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -124px;
  width: 54px;
  height: 54px;
}
.icon-plus21 {
  background-image: url(../img/spritesheet.png);
  background-position: -52px -62px;
  width: 56px;
  height: 55px;
}
.icon-plus22 {
  background-image: url(../img/spritesheet.png);
  background-position: -218px -54px;
  width: 44px;
  height: 42px;
}
.icon-plus23 {
  background-image: url(../img/spritesheet.png);
  background-position: -218px -96px;
  width: 42px;
  height: 36px;
}
.icon-plus3 {
  background-image: url(../img/spritesheet.png);
  background-position: -218px 0px;
  width: 48px;
  height: 54px;
}
.icon-plus4 {
  background-image: url(../img/spritesheet.png);
  background-position: -158px -124px;
  width: 56px;
  height: 47px;
}
.icon-plus5 {
  background-image: url(../img/spritesheet.png);
  background-position: -54px -124px;
  width: 52px;
  height: 54px;
}
.icon-plus6 {
  background-image: url(../img/spritesheet.png);
  background-position: -108px -62px;
  width: 56px;
  height: 54px;
}
.icon-weight {
  background-image: url(../img/spritesheet.png);
  background-position: -266px -83px;
  width: 14px;
  height: 14px;
}
