-
	var menuBase = [
		{title:'С мясом', active:false},
		{title:'С рыбой', active:true},
		{title:'С сыром', active:false},
		{title:'С картошкой', active:false},

		
	];
	var menuMore = [
		{title:'Пицца', active:false},
		{title:'Русские пироги', active:true},
	];

	var pluses = [
		'Только качественные ингредиенты',
		'Работаем с 7:00 до 22:00',
		'Бесплатная доставка при заказе от 1000 руб.',
		'Выполняем заказы любого объема в срок',
		'Профессиональные пекари из Осетии. Работаем с 2008 года',
		'Регулярные скидки и акции',
	];